@import url(https://fonts.googleapis.com/css?family=Englebert);
@import url(https://fonts.googleapis.com/css?family=Fresca);


body{
	background-color: #F8EAE7;
	color: #813528;
	font-family: 'Fresca', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 1em 4em 4em 4em;
	text-align: left;
}

h1{
	font-size: 2.5em;
	font-family: 'Englebert', sans-serif;
	font-style: bold;
}

#slogan{
	font-size: 1em;
	font-style: italic;
}

#nav_links{
	color: #B34A37;
	font-family: 'Englebert', sans-serif;
	font-size: 1.5em;
	padding-bottom: 1em;
}

a{
	color: #B34A37;
	text-decoration: none;
}

img {
    vertical-align: text-top;
}

ul{
	text-align: left;
}

footer{
	padding-top: 1em;
	padding-bottom: 1em;
}